@charset "UTF-8";

body {
    background-color: rgb(218, 230, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: chocolate;
    background-color: darkblue;
}

h2 {
    color: rgb(255, 0, 98);
}

p {
    text-align: justify;
}
